
/*Global*/
html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana;
	font-size: 14px;
	background-color: #f5f5f5;
}

/* Disable scroll when masked
body.scroll-prevent {
	overflow: hidden;
}*/

/*Header*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	height: 50px;
	width: 100%;
	padding: 0 35px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}

.search {
	flex-grow: 1;
	text-align: center;
	vertical-align: middle;
}

.search-bar {
	width: 180px;
	height: 22px;
	padding: 3px 0px 3px 10px;
	border: none;
	background-color: #f5f5f5;
	border-radius: 5px 0 0 5px;
	outline: none;
	vertical-align: middle;
	font-family: Helvetica;
	font-size: 14px;
}

.search-btn {
	display: inline-block;
	height: 22px;
	padding: 3px 5px;
	background-color: #f5f5f5;
	border-radius: 0 5px 5px 0;
	line-height: 0;
	vertical-align: middle;
	cursor: pointer;
}

.search-btn svg {
	fill: #878787;
}

.search-btn:hover svg {
	fill: #333;
}

.login {
	flex-grow: 1;
	text-align: right;
	position: relative;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.user-name {
	position: relative;
	margin-right: 5px;
	color: #333;
	vertical-align: middle;
	cursor: pointer;
}

.user-name::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 3px;
	left: 100%;
	top: 50%;
	border-radius: 2px;
	background-color: #333;
	vertical-align: middle;
	transform: rotate(-45deg) translate(-3px, -3px);
	transition: 0.1s 0.2s;
}

.user-name::after {
	content: '';
	display: inline-block;
	width: 8px;
	height: 3px;
	left: 100%;
	top: 50%;
	margin-left: 5px;
	border-radius: 2px;
	background-color: #333;
	vertical-align: middle;
	transform: rotate(45deg);
	transition: 0.1s 0.2s;
}

.dropdown:hover .user-name::before {
	transform: rotate(45deg) translate(-3px, 3px);
}
.dropdown:hover .user-name::after {
	transform: rotate(-45deg);
}

.login-content {
	padding: 6px 15px 8px;
	position: absolute;
	top: 100%;
	right: 0;
	border-radius: 3px;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
	background-color: white;
	text-align: left;
	overflow: hidden;
	transition: 0.1s 0.2s;
	transform: scaleY(0);
	transform-origin: top;
}

.login-content a {
	display: block;
	position: relative;
	padding-bottom: 5px;
	color: #333;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}

.login-content a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	border-radius: 1px;
	background-color: #333;
	transform: scaleX(0);
	transition: 0.2s ease-in-out;
}

.login-content a:hover::before {
	transform: scaleX(1);
}

.dropdown:hover .login-content {
	transform: scaleY(1);
}

.blank-item {
	flex-grow: 1;
	color: rgba(0,0,0,0);
	text-align: left;
}

/* Side navigation (Filter) */
nav {
	width: 0;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
}

.nav-change {
	width: 100%;
}

.filter {
	width: 0;
	height: 100%;
	padding-top: 50px;
	background-color: #f5f5f5;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: 0.3s;
}

.filter-change {
	width: 200px;
}

.filter a {
	display: block;
	padding: 4px 55px;
	color: #333;
	text-decoration: none;
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	transition: 0.3s;
}

.filter a::before {
	content: '#';
	color: rgba(0,0,0,0);
	border-left: 5px solid #797979;
	display: inline-block;
	position: absolute;
	left: 35px;
	text-align: left;
	transition: 0.2s;
	opacity: 0;
}

.filter a:hover {
	color: #797979;
}

.filter a:hover::before {
	opacity: 1;
}

/*Menu control medule*/
.menu-control {
	position: fixed;
	top: 7px;
	left: 15px;
}

.menu-btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

 .menu-btn .bar1, .menu-btn .bar2, .menu-btn .bar3 {
	width: 30px;
	height: 5px;
	background-color: #333;
	margin: 5px 0;
	border-radius: 3px;
	transition: 0.2s;
}

.btn-change .bar1 {
	transform: rotate(-45deg) translate(-7px, 6px);
}

.btn-change .bar2 {
	opacity: 0;
}

.btn-change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

.genre-tip {
	margin-left: 5px;
	display: inline-block;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
}

/*Tool bar*/
.tool-bar {
	padding: 5px 35px;
	margin-top: 50px;
	text-align: right;
	vertical-align: middle;
}

.sort-btn {
	display: inline-block;
	vertical-align: middle;
}

.right-btn {
	width: 0;
	margin-bottom: 3px;
	border: 9px solid;
	border-color: transparent transparent #d3d3d3;
	cursor: pointer;
}

.invert-btn {
	width: 0;
	border: 9px solid;
	border-color: #d3d3d3 transparent transparent;
	cursor: pointer;
}

.right-btn:hover {
	border-color: transparent transparent #333;
}

.invert-btn:hover {
	border-color: #333 transparent transparent;
}

.right-btn-change {
	border-color: transparent transparent #333;
}

.invert-btn-change {
	border-color: #333 transparent transparent;
}

/* Main */
main {
	padding: 0 20px;
}

.item {
	box-sizing: border-box;
	display: inline-block;
	padding: 0 15px 20px 15px;
	width: 20%;
}

.item img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.placeholder {
	width: 60%;
	margin: 10% auto;
	color: #888;
	text-align: center;
	font-weight: bold;
}

.result-hightlight {
	color: #333;
}

/* Actions module */
.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;
	color: #333;
	font-size: 12px;
}

.upvote-module {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap; 
}

.upvote {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-image: url(../icon/upvote.svg);
	vertical-align: middle;
	cursor: pointer;
}

.upvoted {
	background-image: url(../icon/upvoted.svg)
}

.upvote-tip {
	vertical-align: middle;
	overflow-x: hidden;
	white-space: nowrap;
}

.edit {
	display: inline-block;
	height: 22px;
	width: 22px;
	background-image: url(../icon/edit.svg);
	cursor: pointer;
}

.edit:hover {
	opacity: 0.5;
}

.item .title {
	color: #333;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

.item .artist {
	color: #666;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

/* Popup */
.popup-container {
	/*display: block;*/  /* For popup toggle test */
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.popup-container-change {
	display: block;
}

.popup-mask {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.popup {
	position: relative;
	box-sizing: border-box;
	width: 50%;
	padding: 2% 2%;
	border-radius: 5px;
	position: fixed;
	top: 25%;
	left: 25%;
	background-color: #f5f5f5;
	text-align: center;
	overflow: hidden;
}

.popup .close-btn {
	position: absolute;
	top: 4%;
	right: 2%;
	font-size: 0;
	fill: #333;
	stroke: #333;
	stroke-width: 3;
	cursor: pointer;
}

.popup .close-btn:hover {
	fill: #777;
	stroke: #777;
}

.popup .field {
	display: inline-block;
	margin: 5px;
}

.popup .btn-group {
	margin: 15px 0 0;
}

.popup label {
	display: inline-block;
	width: 53px;
	color: #333;
	text-align: left;
	font-weight: bold;
}

.popup input {
	width: 200px;
	background-color: #f5f5f5;
	border: none;
	outline: none;
	border-bottom: 2px solid #333;
	color: #333;
	font-family: Verdana;
	font-size: 14px;
	/*font-weight: bold;*/
}

.popup select {
	width: 200px;
	background-color: #f5f5f5;
	border: none;
	outline: none;
	border-bottom: 2px solid #333;
	color: #333;
	font-family: Verdana;
	font-size: 14px;
}

.popup .save {
	padding: 3px 8px;
	border: none;
	border-radius: 6px;
	outline: none;
	font-family: Verdana; 
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;
}

.popup .save:hover {
	color: #f5f5f5;
	background-color: #565656;
}

.popup .delete {
	display: inline-block;
	border: none;
	outline: none;
	margin-right: -83px;
	color: #777;
	background-color: #f5f5f5;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;
}

.popup .delete:hover {
	color: #cc3333;
}

/* Self-adaptation */
@media screen and (max-width: 959px) {
	.item {
		width: 25%;
	}

	.popup {
		width: 60%;
		left: 20%;
	}	
}

@media screen and (max-width: 639px) {
	.item {
		width: 33.33%;
	}

	.popup {
		width: 70%;
		left: 15%;
	}
}

@media screen and (max-width: 479px) {
	.item {
		width: 50%;
	}

	.popup {
		width: 80%;
		left: 10%;
	}
}
